:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
body {
  margin: 0;
  display: flex;
  margin-top: 50px;
  min-width: 320px;
  min-height: 100vh;

}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #009de6;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #007bce;
}

/*ANIMATION*/

.float{
  	animation: floating 6s ease-in-out infinite;
}

@keyframes floating {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

@media screen and (min-width: 768px){
	body {
		margin:0;
		place-items: center;

	}
}

@import "tailwindcss";